#div-img-triangle_red-1 {
    top: 45vw;
    left: 12vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-2 {
    top: 45vw;
    left: 40vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-3 {
    top: 45vw;
    left: 67vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-4 {
    top: 50vw;
    left: 12vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-5 {
    top: 50vw;
    left: 40vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-6 {
    top: 50vw;
    left: 67vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-7 {
    top: 55vw;
    left: 12vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-8 {
    top: 55vw;
    left: 40vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-9 {
    top: 55vw;
    left: 67vw;
    position: absolute;
    z-index: 15;
}


/* SONNE SUNNE UNGAN

SONNE SUNNE UNGAN

SONNE SUNNE UNGAN

SONNE SUNNE UNGAN */

#img-triangle_red-1 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-2 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-3 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-4 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-5 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-6 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-7 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-8 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-9 {
    width: 1.3vw;
    height: auto;
}


/* БУДУЩЕЕ

БУДУЩЕЕ 2

БУДУЩЕЕ3 3

БУДУЩЕЕ 4

БУДУЩЕЕ 5 */