#div-img-triangle_red-1 {
    top: 45vw;
    left: 12vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-2 {
    top: 45vw;
    left: 40vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-3 {
    top: 45vw;
    left: 67vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-4 {
    top: 50vw;
    left: 12vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-5 {
    top: 50vw;
    left: 40vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-6 {
    top: 50vw;
    left: 67vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-7 {
    top: 55vw;
    left: 12vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-8 {
    top: 55vw;
    left: 40vw;
    position: absolute;
    z-index: 15;
}

#div-img-triangle_red-9 {
    top: 55vw;
    left: 67vw;
    position: absolute;
    z-index: 15;
}


/* SONNE SUNNE UNGAN

SONNE SUNNE UNGAN

SONNE SUNNE UNGAN

SONNE SUNNE UNGAN */

#img-triangle_red-1 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-2 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-3 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-4 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-5 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-6 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-7 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-8 {
    width: 1.3vw;
    height: auto;
}

#img-triangle_red-9 {
    width: 1.3vw;
    height: auto;
}


/* БУДУЩЕЕ

БУДУЩЕЕ 2

БУДУЩЕЕ3 3

БУДУЩЕЕ 4

БУДУЩЕЕ 5 */

#div-img-programming {
    top: 65vw;
    left: 22vw;
    position: absolute;
    z-index: 10;
}

#div-img-design {
    top: 65vw;
    left: 62vw;
    position: absolute;
    z-index: 10;
}

#div-img-translate {
    top: 85vw;
    left: 22vw;
    position: absolute;
    z-index: 10;
}

#div-img-brend {
    top: 85vw;
    left: 62vw;
    position: absolute;
    z-index: 10;
}

#div-img-online-marketing {
    top: 105vw;
    left: 22vw;
    position: absolute;
    z-index: 10;
}

#div-img-cpu {
    top: 105vw;
    left: 62vw;
    position: absolute;
    z-index: 10;
}

#img-programming {
    width: 6vw;
    height: auto;
}

#img-design {
    width: 6vw;
    height: auto;
}

#img-translate {
    width: 6vw;
    height: auto;
}

#img-brend {
    width: 6vw;
    height: auto;
}

#img-online-marketing {
    width: 6vw;
    height: auto;
}

#img-cpu {
    width: 6vw;
    height: auto;
}


/* vanila cocola

vanila cocola 2

vanila cocola 3

vanila cocola */


/* vanila cocola

vanila cocola 2

vanila cocola 3

vanila cocola */

#div-text-professional-development {
    top: 63.5vw;
    left: 31vw;
    position: absolute;
    z-index: 15;
    border-bottom: 0.5vw solid #a60505;
    height: 6.5vw;
}

#div-text-visualization-graphics {
    top: 65vw;
    left: 71vw;
    position: absolute;
    z-index: 15;
    border-bottom: 0.5vw solid #a60505;
    height: 5vw;
}

#div-text-visualization-4-languages {
    top: 85vw;
    left: 31vw;
    position: absolute;
    z-index: 15;
    border-bottom: 0.5vw solid #a60505;
    height: 5vw;
}

#div-text-branding {
    top: 85vw;
    left: 71vw;
    position: absolute;
    z-index: 15;
    border-bottom: 0.5vw solid #a60505;
    height: 5vw;
}

#div-text-online-marketing {
    top: 105vw;
    left: 31vw;
    position: absolute;
    z-index: 15;
    border-bottom: 0.5vw solid #a60505;
    height: 5vw;
}

#div-text-professional-cpu {
    top: 103vw;
    left: 71vw;
    position: absolute;
    z-index: 15;
    border-bottom: 0.5vw solid #a60505;
    height: 7.5vw;
}


/* vanila cocola

vanila cocola 2

vanila cocola 3

vanila cocola */

#text-professional-development {
    font-size: 1.8vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}

#text-visualization-graphics {
    font-size: 2vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}

#text-visualization-4-languages {
    font-size: 2vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}

#text-branding {
    font-size: 2vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}

#text-online-marketing {
    font-size: 2vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}

#text-professional-cpu {
    font-size: 2vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}


/* <!-- 25.5.2020 ждём будещего

25.5.2020 ждём будещего

25.5.2020 ждём будещего

25.5.2020 ждём будещего --> */

#div-text-web-design-and-graphics {
    top: 43vw;
    left: 14vw;
    position: absolute;
    z-index: 15;
}

#div-text-hosting-domains {
    top: 43vw;
    left: 43vw;
    position: absolute;
    z-index: 15;
}

#div-text-seo-promotion {
    top: 43vw;
    left: 69vw;
    position: absolute;
    z-index: 15;
}

#div-text-web-development-coding {
    top: 48vw;
    left: 14vw;
    position: absolute;
    z-index: 15;
}

#div-text-branding-logo-concepts {
    top: 48vw;
    left: 43vw;
    position: absolute;
    z-index: 15;
}

#div-text-text-e-commerce-solutions {
    top: 48vw;
    left: 69vw;
    position: absolute;
    z-index: 15;
}

#div-text-work-cms {
    top: 53vw;
    left: 14vw;
    position: absolute;
    z-index: 15;
}

#div-text-social-media-marketing {
    top: 53vw;
    left: 43vw;
    position: absolute;
    z-index: 15;
}

#div-text-video-animation {
    top: 53vw;
    left: 69vw;
    position: absolute;
    z-index: 15;
}


/* <!-- 25.5.2020 ждём будещего

25.5.2020 ждём будещего

25.5.2020 ждём будещего

25.5.2020 ждём будещего --> */

#text-web-design-and-graphics {
    font-size: 1.8vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}

#text-hosting-domains {
    font-size: 1.8vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}

#text-seo-promotion {
    font-size: 1.8vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}

#text-web-development-coding {
    font-size: 1.8vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}

#text-branding-logo-concepts {
    font-size: 1.8vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}

#text-e-commerce-solutions {
    font-size: 1.8vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}

#text-work-cms {
    font-size: 1.8vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}

#text-social-media-marketing {
    font-size: 1.8vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}

#text-video-animation {
    font-size: 1.8vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}


/* fabian realschule udsvhfiushvfiudhv


fjv hfiuhv

PAUSE PAUSE */

#div-text-all-in-one {
    top: 7vw;
    left: 12vw;
    position: absolute;
    z-index: 15;
}

#div-text-create-website-cheap-affordable {
    top: 27vw;
    left: 12vw;
    position: absolute;
    z-index: 15;
}

#text-all-in-one {
    font-size: 4vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}

#text-create-website-cheap-affordable {
    font-size: 1.8vw;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
}


/* fabian realschule udsvhfiushvfiudhv


fjv hfiuhv

PAUSE PAUSE */


/* fabian realschule udsvhfiushvfiudhv


fjv hfiuhv

PAUSE PAUSE */

#fon-div-4 {
    top: 100vw;
    width: 100vw;
    height: 30vw;
    z-index: 0;
    position: absolute;
}