#div_black_2_fb_in {
    width: 100vw;
    height: 15vw;
    z-index: 5;
    top: 55vw;
    /* background: repeating-linear-gradient(45deg, #2b2b2b, #2b2b2b 20px, #868686 20px, #868686 25px); */
    background-color: #2b2b2b;
    position: absolute;
    margin: 0;
    right: 0;
    left: 0;
    border-top: #a60505 solid 0.5vw;
}

#div_img_index_2_fb {
    z-index: 6;
    top: 58vw;
    right: 39vw;
    position: absolute;
}

#div_img_index_2_in {
    z-index: 6;
    top: 58vw;
    right: 34vw;
    position: absolute;
}

#div_img_index_2_telegram {
    z-index: 6;
    top: 58vw;
    right: 29vw;
    position: absolute;
}

#div_img_index_2_vk {
    z-index: 6;
    top: 58vw;
    right: 24vw;
    position: absolute;
}

#div_img_index_2_gmail {
    z-index: 6;
    top: 62vw;
    right: 26vw;
    position: absolute;
}

#div_img_index_2_tw {
    z-index: 6;
    top: 62vw;
    right: 31vw;
    position: absolute;
}

#div_img_index_2_inni {
    z-index: 6;
    top: 62vw;
    right: 36vw;
    position: absolute;
}

#img_index_2_fb {
    width: 3vw;
    height: auto;
}

#img_index_2_in {
    width: 3vw;
    height: auto;
}

#img_index_2_telegram {
    width: 3vw;
    height: auto;
}

#img_index_2_vk {
    width: 3vw;
    height: auto;
}

#img_index_2_gmail {
    width: 3vw;
    height: auto;
}

#img_index_2_tw {
    width: 3vw;
    height: auto;
}

#img_index_2_inni {
    width: 3vw;
    height: auto;
}


/* fb wefh9ewuyfw7e9fy */


/* inni fvrehgoureg */


/* twhvisdhv */

#div_text_about_2_xtl_div_black {
    position: absolute;
    z-index: 5;
    top: 55vw;
    left: 5vw;
    border-bottom: 0.3vw solid #a60505;
    height: 4vw;
}

#div_text_about_xtl_2_5_div_black {
    position: absolute;
    z-index: 5;
    top: 59vw;
    left: 5vw;
}

#div_text_about_xtl_2_20_div_black {
    position: absolute;
    z-index: 5;
    top: 61vw;
    left: 5vw;
}

#div_text_about_xtl_2_our_goaldiv_div_black {
    position: absolute;
    z-index: 5;
    top: 63vw;
    left: 5vw;
}

#div_text_founder_2_div_black {
    position: absolute;
    z-index: 5;
    top: 55vw;
    right: 11vw;
    border-bottom: 0.3vw solid #a60505;
    height: 4vw;
}

#div_text_nikolai_2_div_black {
    position: absolute;
    z-index: 5;
    top: 59vw;
    right: 6vw;
}

#div_text_nikita_2_div_black {
    position: absolute;
    z-index: 5;
    top: 61.5vw;
    right: 7.6vw;
}

#div_text_headquarters_2_div_black {
    position: absolute;
    z-index: 5;
    top: 55vw;
    left: 20vw;
    border-bottom: 0.3vw solid #a60505;
    height: 4vw;
}

#div_text_ukrane_2_div_black {
    position: absolute;
    z-index: 5;
    top: 59vw;
    left: 20vw;
}

#div_text_kiev_2_div_black {
    position: absolute;
    z-index: 5;
    top: 61vw;
    left: 20vw;
}

#div_text_helpful_information_2_div_black {
    position: absolute;
    z-index: 5;
    top: 55vw;
    left: 35vw;
    border-bottom: 0.3vw solid #a60505;
    height: 4vw;
}

#div_text_consultation_2_div_black {
    position: absolute;
    z-index: 5;
    top: 59vw;
    left: 35vw;
}

#div_text_contacts_2_div_black {
    position: absolute;
    z-index: 5;
    top: 61vw;
    left: 35vw;
}

#div_text_services_2_div_black {
    position: absolute;
    z-index: 5;
    top: 63vw;
    left: 35vw;
}


/* idsgfcyueft68ewft86ew7tfw76efhu// */


/* djfchwisudfyc

kvcjouvrseohv*/

#text_about_xtl_2_div_black {
    font-size: 1.7vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}

#text_about_xtl_2_5_div_black {
    font-size: 1.5vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}

#text_about_xtl_2_20_div_black {
    font-size: 1.5vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}

#text_about_xtl_2_our_goaldiv_div_black {
    font-size: 1.5vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}

#text_founder_2_div_black {
    font-size: 1.7vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}

#text_nikolai_2_div_black {
    font-size: 1.5vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}

#text_nikita_2_div_black {
    font-size: 1.5vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}

#text_headquarters_2_div_black {
    font-size: 1.7vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}

#text_ukrane_2_div_black {
    font-size: 1.5vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}

#text_kiev_2_div_black {
    font-size: 1.5vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}

#text_helpful_information_2_div_black {
    font-size: 1.7vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}

#text_consultation_2_div_black {
    font-size: 1.5vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}

#text_contacts_2_div_black {
    font-size: 1.5vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}

#text_services_2_div_black {
    font-size: 1.5vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}

#text_cost_2_div_black {
    font-size: 1.5vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}

#text_reviev_2_div_black {
    font-size: 1.5vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 170;
}